<div class="jumbotron center">
	<h2>Web application using Ruby on Rails, Bootstrap etc</h2>
	<h4>An application similar to pinterest.</h4>
	<h4> It was built using Ruby on Rails, Sqllite, jQuery Masonry and Bottstrap for UI.</h4>
	<h4> Other stuff used: devise (user managament and authentication), paperclip ImageMagic (image management). </h4>
	<h4>Images are stored using on Amazon S3.</h4>
	<h4>The application is deployed on Heroku.</h4>
	<h4>The code is on <%= link_to "Github", "https://github.com/dantohe/pinteresting", :target => "_blank" %>.</h4>
	
	<!--<button type="button" class="btn btn-primary btn"><%= link_to "Sign Up", "#" %></button>-->
	<% if user_signed_in? %>
	<% else %>
	<p>

		<%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
		<%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
	</p>  
	<% end %>
	<!--<p> Yet another <%= link_to "here", "#" %>. </p>-->
</div>